* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gg sans', sans-serif;
    font-family: 'gg sans Normal', sans-serif;
    font-family: 'gg sans Medium', sans-serif;
    font-family: 'gg sans SemiBold', sans-serif;
}

h1 {
    margin: 2rem;
    font-size: 48px;
}

.section_title {
    font-size: 3rem;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #3161e0;
}

nav {
    background-image: url(../assets/img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.py-3 {
    padding-top: 1rem;
}

.bg_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.debug .bg_1 {
    background-color: aqua;
    height: 40px;
}

.head_1 {
    width: 20%;
    text-align: start;
}

.head_3 {
    width: 20%;
    text-align: end;
    /* background-color: white; */
}

.btn_1 {
    background-color: white;
    padding: 0.5rem 0.3rem;
    border-radius: 1rem;
    color: black;
    font-size: 12px;
}

.btn_2 {
    background-color: #23272a;
    padding: 0.5rem 0.3rem;
    border-radius: 1rem;
    color: white;
    font-size: 12px;
}

.debug .head_1,
.debug .head_2 {
    background-color: red;
    height: 1rem;
    border: 1px solid black;
}

.head_2 {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.debug header {
    height: 40px;
    background-color: grey;
}

.debug nav {
    background-color: rgb(233, 132, 224);
    height: 400px;
}

.logo {
    width: 600px;
    text-align: center;
    margin: auto;
    padding: 4rem 0;
}

.debug .logo {
    height: 250px;
    background-color: lightgrey;
}

.my-3 {
    margin: 2rem 0;
}

section {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.dark {
    background-color: #f6f6f6;
}

.debug .bg_2 {
    border: 1px solid black;
    background-color: lightgreen;
    height: 30rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.debug .row {
    background-color: lightsalmon;
    height: 27rem;
}


.col_1 {
    width: 60%;
}

.debug .col_1,
.debug .col_2 {
    height: 389px;
    background-color: darkolivegreen;
    border: 1px solid black;
}

.col_2 {
    width: 40%;
}



.debug .card {
    height: 350px;
    background-color: rgb(236, 143, 189);
}

.debug .dark {
    background-color: lightgrey;
}

.debug .bg_3 {
    background-color: mediumseagreen;
    height: 48rem;
}

.debug footer {
    background-color: tomato;
}

.col_3 {
    width: 30%;
}

.debug .col_3 {
    height: 360px;
    background-color: darkkhaki;
}

.col_4 {
    width: 15%;
}

.debug .col_4 {
    height: 360px;
    background-color: indianred;
}


.info {
    width: 15%;
}

.debug .info {
    height: 50px;
    background-color: yellow;
}

.row_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debug .row_2 {
    background-color: lightsalmon;
    height: 60px;
}

#ft_row_1 {
    padding-top: 2rem;
}

.bg_4 {
    padding-bottom: 2rem;
}

.debug .bg_4 {
    border: 1px solid black;
    background-color: lightgreen;
    height: 40rem;
}

.wave_1 {
    color: #f6f6f6;
    margin-bottom: -1rem;
}

.wave_2 {
    color: white;
    margin-bottom: -80px;
}

.txt_c {
    text-align: center;
}

#img_4 {
    margin: 0 auto;
    display: block;
}